*{
	margin: 0;
	padding: 0;
}
.box{
	width: 310px;
	margin: 30px;
	border: 1px solid #ccc;
	padding-bottom: 10px;
	
}
div p{
	height: 38px;
	line-height: 38px;
	background: linear-gradient( to bottom,#D3D3FF,white);
	text-indent: 1em;
	border-bottom: 1px dashed #ccc;
	padding-top: 10px;
}
ul li{
	list-style: none;
	height: 26px;
	line-height: 26px;
	padding: 5px 26px;
	
}

li a{
	text-decoration: none;
}

li a:link{
	color: black;
}
li a:hover{
	color: darkred;
}
