   header a{
                color:#f10158;
                font-size:18px;

            }
input[type=text]{
                 background-color:#FFFFED;
                 
             } 
    [type*=pass]{
             background-color:#aacbee;
             }
   section div:first-child img:nth-of-type(1){
                            

            }
  section div li{
                 color:#0099ff;
            }
        footer a{
                 color:#9873f2;